# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env
.env.*

# Logs
*.log

# Git
.git
.gitignore

# OS / Editor
.DS_Store
.vscode/
.idea/

# Node (frontend later)
node_modules/

# Docker (avoid recursion issues)
Dockerfile
docker-compose.yml