# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class
*.pyd

# Python packaging
*.egg-info/
dist/
build/

# ----------------------
# Virtual Environments
# ----------------------
.venv/
venv/
env/

# ----------------------
# Environment Variables
# ----------------------
.env
.env.*

# ----------------------
# Logs
# ----------------------
*.log

# ----------------------
# Testing / Coverage
# ----------------------
.pytest_cache/
.coverage
htmlcov/

# ----------------------
# Alembic
# ----------------------
alembic/__pycache__/

# ----------------------
# OS Files
# ----------------------
.DS_Store

# ----------------------
# Editors / IDEs
# ----------------------
.vscode/
.idea/

# ----------------------
# Frontend (React)
# ----------------------
node_modules/
dist/
build/

# ----------------------
# Docker
# ----------------------
*.pid

# ----------------------
# Misc
# ----------------------
*.sqlite3